<h2 class="text-center my-4">Change Your Password</h2>

<p class="text-center">Hi <strong><%= username %></strong>, please enter a new password below to update your account credentials.</p>

<div class="d-flex justify-content-center">
  <form class="w-25" action="/users/change-password/<%= useremail %>/<%= token %>" method="POST" onsubmit="return validatePasswords()">
    
    <div class="mb-3">
      <input type="password" class="form-control" id="password" name="new_password" placeholder="Enter Password" onkeyup="checkPasswordStrength();" required>
      <span id="password-strength" class="form-text"></span>
    </div>

    <div class="mb-3">
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
      <span id="password-match" class="form-text"></span>
    </div>

    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="Change Password">
    </div>

  </form>
</div>

<script>
    function verify_strength_of_password(password) {
        
        if (password.length < 8) {
            return 0; 
        }

        if (!/[a-z]/.test(password)) {
            return 1; 
        }

        if (!/[A-Z]/.test(password)) {
            return 2; 
        }

        if (!/\d/.test(password)) {
            return 3; 
        }

        const specialChars = "!@#$%^&*()-_=+[]{};:,.<>?";
        if (![...password].some(char => specialChars.includes(char))) {
            return 4; 
        }

        if (password.length > 30){
            return 5;
        }
        
        return 6; 
    }

    function checkPasswordStrength() {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password');
        
        
        var strength = verify_strength_of_password(password);
        var strengthMessages = [
            "Password must be at least 8 characters long.",
            "Password must contain at least one lowercase letter.",
            "Password must contain at least one uppercase letter.",
            "Password must contain at least one digit.",
            "Password must contain at least one special character.",
            "Password must be at most 30 characters long.",
            "Strong password. Well done!"
        ];  
        
        var passwordMatchMessage = password === confirm_password ? '' : 'Passwords do not match.';
        document.getElementById('password-strength').innerText = strengthMessages[strength];
        

        if (strength === 6) {
            confirm_password.disabled = false;
        } else {
            confirm_password.disabled = true;
            confirm_password.value = '';
            
        }
    }

    function validatePasswords() {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password').value;
        if (password !== confirm_password) {
            document.getElementById('password-match').innerText = 'Passwords do not match.';
            return false; 
        }
        return true; 
    }
</script>
