<div class="container mt-5">
  <div class="alert text-center" style="background-color: #59b8ff;">
    <h1 class="mb-4">Verification Email Sent!</h1>

    <p class="lead">
      Thanks for showing your interest in the product, <strong>"ConnectDots"</strong>. You have been successfully registered.
    </p>

    <p class="mb-2">
      This action requires email verification. Now you need to confirm your email.
    </p>

    <p class="mb-2">
      A confirmation email was sent to your inbox. Please check it and follow the instructions to complete your registration.
    </p>

    <p class="mb-3">
      <strong>Email sent to:</strong> <%= email %>
    </p>

    <p class="mb-0">
      After confirming your email, proceed to the 
      <a href="http://<%=wifiIP%>/users/sign-in" class="btn btn-primary btn-sm ms-2">Sign In Page</a>
    </p>
  </div>
</div>
