body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  text-align: center;
}
body #layout-main {
  color: rgb(14, 15, 14);
}

.imageDiv.text-center.my-3 {
    position: relative;
    top: 1.5rem;
}