<h1>Account Activated</h1>
<h3>Hello <%=user.name%>!</h3>
<p>Thanks for choosing ConnectDots as your one of the social media platform.</p>
<p>Through ConnectDots, you've connected with people, ideas and opportunities. </p>
<p>Your posts and contributions will enrich this platform making it more diverse and will help to foster a welcoming and engaging community.</p>
<p>Your presence and participation mean a lot and inspire to keep innovating and developing new features</p>
<p>Your account is active now:-</p>
<h3><a href="http://<%=wifiIP%>/users/sign-in">Login to your account</a></h3>
<p>...Thanks for being a part of ConnectDots Community</p>