<div>

    <h4>Hi <%= user.name%> , </h4>
    <br>
    <p>
        You're almost set. Simply click the link below
        to verify your email address and get started. The link expires in 20 minutes.
    </p>
    <h4><a href="<%=baseUrl%>/users/verify-my-email-address/<%=user.email%>/<%=encodeURIComponent(JSON.stringify(token))%>">Verify my email address</a></h4>
    <br>
    <p>With best regards,</p>
    <p>ConnectDots.</p>

</div>